        


<footer>
	<div  class="footer-container">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-8 col-md-offset-2" >
	        <p><a href="#">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Pricing</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Blog</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Help</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Contact</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms</a><br>
	          © 2015 My Travel. All Rights Reserved</p>
	      </div>
	    </div>
	  </div>
	</div>
</footer>