<a href="#" id="go-top"></a> 


<script type="text/javascript">

/*===================
   Letter effect
    ===================*/
  
  $(function() {
          $(".header-container h1 a").lettering();
          
        });
        
        
  /*===================
     ScrollTop
    ===================*/
  
  $(window).scroll(function(){
     if ($(this).scrollTop() > 100) {
       $('#go-top').fadeIn();
     } else {
       $('#go-top').fadeOut();
     }
   }); 
 
   $('#go-top').click(function(e){
     $("html, body").animate({ scrollTop: 0 }, 600);
     e.preventDefault();
   });
        
        
        
        
        </script> 


<script src="{{site.baseurl}}/resources/scripts/bootstrap.min.js"></script>

<script src="{{site.baseurl}}/resources/scripts/scripts.js"></script>

<!--============== Form validation JS=================--> 

<script src="{{site.baseurl}}/resources/scripts/base/contact_form.js" type="text/javascript"></script> 

<!--============================Main.js===========================--> 

<script src="{{site.baseurl}}/resources/scripts/base/main.js" type="text/javascript"></script> 

<!--============================Sticky.js===========================--> 

<script src="{{site.baseurl}}/resources/scripts/base/jquery.sticky.js" type="text/javascript"></script> 

<!--=========================Scroll.js=========================--> 

<script src="{{site.baseurl}}/resources/scripts/base/scroll.js" type="text/javascript"></script> 

<!--========================Lettering.js========================--> 

<script type="text/javascript" src="{{site.baseurl}}/resources/scripts/base/jquery.lettering.js"></script> 